.banner {
  background-color: rgb(182, 62, 182);
  text-align: center;
  padding: 40px 20px;
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.banner p {
  font-size: 1.2rem;
  color: black;
}
